<!doctype html>
<html lang="en">
<head>
    <title>QuickMess</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/images/quickmess.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/exit_button.css">
    <% if (typeof enable_chat_css != "undefined" && enable_chat_css){ %>
        <link rel="stylesheet" type="text/css" href="/css/chat.css">
    <% }
    if (typeof enable_index_css != "undefined" && enable_index_css){ %>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    <% } if (typeof enable_searchbar_css != "undefined" && enable_searchbar_css){ %>
        <link rel="stylesheet" type="text/css" href="/css/searchbar.css">
    <% }  if (typeof enable_people_css != "undefined" && enable_people_css){ %>
        <link rel="stylesheet" type="text/css" href="/css/friends_card.css">
    <% } %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
            integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
            crossorigin="anonymous"></script>

</head>
<body class="bg-light">

<nav class="navbar-dark bg-black">

    <ul class="nav nav-tabs nav-fill">
        <!-- <li class="navbar-item pl-5 pr-5 ml-5 mr-5">
            <img src="/images/quickmesslogo.png" alt="" style="height:50px">
        </li> -->

        <a href="/" class="navbar-item pl-5 pr-5 ml-5 mr-5">
            <img src="/images/quickmesslogo.png" alt="" style="height:50px">
          </a>
        <%if (typeof user != "undefined"){%>
            <!-- <li class="nav-item">
                <a class="nav-link p-2" href="/"><i class="fas fa-home"></i> Home</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link p-2" href="/chat"><i class="fas fa-envelope"></i> Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" href="/friends"><i class="fas fa-user-friends"></i> Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" href="/discover"><i class="fa fa-search" aria-hidden="true"></i> Discover</a>
            </li>

            <li class="nav-item">
                <a class="nav-link p-2" href="/logout"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Log Out</a>
            </li>
        <%}%>
        <% if (typeof role != "undefined" && role === "admin") { %>
            <li class="nav-item">
                <a class="nav-link p-2" href="/admin"><i class="fa fa-user-secret" aria-hidden="true"></i> Admin</a>
            </li>
        <% } %>
    </ul>
</nav>
<div id="container">
    <div id="main">
        <div class="container-fluid h-100">
            <%if (typeof disable_user_welcome == "undefined" || disable_user_welcome == false){%>
            <div class="container text-center">
                <div class='container-fluid'>
                    <h1 class="m-3">Welcome<% if (typeof user != "undefined"){ %>, <%= user.firstName %><% } %>!
                    </h1>
                </div>
            </div>
            <%}%>
            <%- body -%>
        </div>
    </div>
</div>

<footer class="page-footer font-small text-white-50">
    <div class="footer-copyright text-center py-3" style="color: white">© 2023 Vitalie Nanu</div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="/bower_components/crypto-js/crypto-js.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/index.js"></script>
<script src="/js/script.js"></script>
<script src="/js/discover.js"></script>
<script src="/js/friend_search.js"></script>
<% if (typeof socket_enable != "undefined" && socket_enable ){%>
    <script src="/js/chat.js"></script>
<%} %>
</body>

</html>